# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Generated project (regenerate med `xcodegen generate`)
# OrbisX.xcodeproj/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.pins
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Fastlane / CocoaPods
Pods/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.log
.env
